<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
      <style>
        body {
            font-family: sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            width: 350px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

       
        .password {
	width: 100%;
	margin: 15px auto;
	position: relative;
    padding: 5px 0;
	height: 30px;
	line-height: 40px;
	text-indent: 10px;
	margin: 0 0 15px 0;
	border-radius: 5px;
	border: 1px solid #999;
	font-size: 18px;
}

.password-control {
	position: absolute;
	top: 11px;
	right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M3 13c3.6-8 14.4-8 18 0'/%3E%3Cpath d='M12 17a3 3 0 1 1 0-6a3 3 0 0 1 0 6'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
}
.password-control.view {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23363636' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M3 13c3.6-8 14.4-8 18 0'/%3E%3Cpath fill='%23363636' d='M12 17a3 3 0 1 1 0-6a3 3 0 0 1 0 6'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
}
        .input-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }
        .input-group input[type="email"],
        .input-group input[type="password"],
        .input-group input[type="text"] {
            width: calc(100%);
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 5px;
             box-sizing: border-box;
        }
         .input-group .password-container{
            position: relative;
         }


          .input-group .password-container input[type="password"] {
              width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 5px;
              box-sizing: border-box; 
        }


        .input-group input[type="email"].invalid,
          .input-group .password-container input[type="password"].invalid{
            border-color: red;
        }


        .error {
            color: red;
            margin-top: 5px;
            display: block;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .auth-link {
           text-align: center;
           margin-top: 15px;
           font-size: 0.9em;
        }
         .password-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            user-select: none;
        }

    </style>
</head>
<body>
<div class="form-container">
    <h1>Авторизация</h1>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <form method="post" action="/login">
           <div class="input-group">
             <label for="email">Почта:</label><br>
             <input type="email" id="email" name="email" required
              <% if (error && error.includes('Неверный email')) {%> class = "invalid" <%}%>>
           </div>
             <div class="input-group">
              <label for="password">Пароль:</label><br>
              <div class="password-container">
                <input type="password" id="password" name="password" required
                <% if (error && error.includes('Неверный пароль')) {%> class = "invalid" <%}%>>
                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
              </div>
             </div>
             <input type="submit" value="Войти">
        </form>
        <div class="auth-link">
        <p><a href="/register">Регистрация</a></p>
        </div>
    </div>
      <script>
     function show_hide_password(target){
	const input = document.getElementById('password');
	if (input.getAttribute('type') == 'password') {
		target.classList.add('view');
		input.setAttribute('type', 'text');
	} else {
		target.classList.remove('view');
		input.setAttribute('type', 'password');
	}
	return false;
}
</script>
</body>
</html>